* {
}

.header {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right,
            purple,
            rgb(93, 30, 165),
            rgb(149, 77, 231));
    color: white;
    padding: 10px 40px;
}

.header .icon {
    width: 75px;
}

.header .project-name {
    margin-left: auto;
}

.main {
    padding: 36px;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    grid-gap: 17px;
    margin-bottom: 20px;
}

.form .input {
    border-radius: 5px;
    border: 1px solid;
    text-indent: 5px;
}

.form .button {
    grid-column: 1 / -1;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right,
            purple,
            rgb(93, 30, 165),
            rgb(149, 77, 231));
    color: white;
    cursor: pointer;
}

.meme {
    position: relative;
}

.meme-picture {
    width: 100%;
}

.meme-text {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 6vw;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, sans-serif;
    -webkit-text-stroke: 3px black;
}

.meme-bottom-text {
    bottom: 20px;
}